# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# jupyter
.ipynb_checkpoints
.ipython/
.jupyter/
.local/

# sublime test/pycharm
.idea/
.DS_Store

# Emacs
*~

# Trash location
.Trash-0/info/

# don't push outputs to keep things tidy
output/